@model BokToppen.Models.FileModel

@{
     if (TempData.ContainsKey("unsuccessful")){
        <div class="alert alert-warning mt-2" role="alert">
        @TempData["unsuccessful"]
        </div>
    }

}

<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.ContentType</p>
<p>@Model.Data</p>
<p>@ViewBag.ImageUrl</p>
<img src="@ViewBag.ImageUrl" alt="bild" width="200px" height="200px">
<img src="data:image/jpg;base64, @ViewBag.ImageUrl" alt="bild" width="126px">

<p>Hello</p>
