@model IEnumerable<BokToppen.Models.UserModel>
@{
    ViewData["Title"] = "Användare";
}

<h1>@ViewData["Title"]</h1>

@{
     if (TempData.ContainsKey("unsuccessful")){
        <div class="alert alert-warning mt-2" role="alert">
        @TempData["unsuccessful"]
        </div>
    }
}

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>@item.Username <small class="text-muted">@item.Email</small></p>
            <form method="post" asp-action="Delete" class="@(ViewBag.UserIsLoggedIn ? "d-none" : "") px-2">
                <input asp-for="@item.Id" type="hidden" value="@item.Id" name="id">
                <button type="submit" class="btn btn-danger">Radera</button>
            </form>
        </li>
    }
</ul>